---
---
/* Normalize */
@import "yui_reset";

/* Apply ipython notebook styles to notebook div. */
#notebook {
  @import "notebook";
}

/*
  My style.
  color scheme: http://colorschemedesigner.com/#3s21QvyQpw0w0
*/
html, body {
  font: 100%/1.5 "ff-meta-serif-web-pro", serif;
  text-rendering: optimizeLegibility;
  color: #585857;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
  padding: 0 1.5rem;
}

.smaller_container {
  /* 880 px width inside a 960 container */
  max-width: 880px;
  margin: 0 auto;
}

.site_title {
  font-weight: bold;
  margin-left: 5rem;
}

.avatar {
  position: absolute;
  top: .3333rem;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  background: url('/images/headshot.jpg') no-repeat;
  background-size: 4rem;
}

strong {
  font-weight: bold;
}

a {
  color: #ff8a04;
  text-decoration: none;
  -webkit-transition: color .15s ease-out;
  -moz-transition: color .15s ease-out;
  transition: color .15s ease-out;
}

a:not(:hover) {
  color: #0e9ce0;
}

ul.projects li {
  display: flex;
  padding-left: 1em;
  margin-bottom: 1.5em;
  border-left: 1px solid gray;
}

ul.notes li {
  display: flex;
}

.post--image {
  align-self: flex-start;
  width: 180px;
  margin-right: 20px;
  margin-bottom: 1em;
}

aside {
  margin-left: 700px; /* 640 for p + 60 margin + 180 for aside = 880 */
  position: absolute;
  width: 180px;
}

@media screen and (max-width: 840px) {
  aside {
    margin-left: 0;
    position: relative;
    width: auto;
  }
}

.article {
  max-width: 880px;
}

.content p, pre, code {
  max-width: 640px;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, .header, .footer, .publication, .sans {
  font-family: "source-sans-pro", sans-serif;
}

h1, h2, h3, h4 {
  color: #3f3f3e;
}

h1 p, h2 p, h3 p {
  margin: 0;
}

p {
  font-size: 1em;
  margin-bottom: 1em;
}

p, ul, ol, dl, blockquote, pre, td, th, label, textarea, caption {
  font-size: 1em; /* equiv 16px */
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
}
h1, .h1-like{
  font-size: 2em; /* equiv 32px */
  line-height: 1.5em;
  margin: 0 0 1.33333em 0;
}
h2, .h2-like{
  font-size: 1.5em; /* equiv 24px */
  line-height: 0.5em;
  margin: 0 0 1.5em 0;
}
h3, .h3-like{
  font-size:  1em; /* equiv 16px */
  line-height:  1em;
  margin: 0 0 0.5em 0;
  font-weight: bold;
}
.smaller, aside {
  font-size: .75em; /* equiv 12px */
  line-height: 2em;
  margin-bottom: 2em;
}
.footer, .small {
  font-size: .875em; /* equiv 14px */
  line-height: 1.7143em;
  margin-bottom: 1.7143em;
}

/* you shall not pass */
textarea, table, td, th, code, pre, samp, div, p {
  word-wrap: break-word;
  hyphens: auto;
}
code, pre, samp {
  white-space: pre-wrap;
  font-family: consolas, monospace;
}
code{
  line-height: 1em;
}
table{
  margin-bottom: 1.5em;
}

hr {
  height: 0;
  margin: -1px 0 0 0;
  margin-bottom: 1.5rem;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.publication {
  display: flex;
}

.header {
  margin-top: 1em;
}
