<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="alternate" type="application/rss+xml"  href="http://sergeykarayev.com/feed.xml" title="Sergey Karayev RSS Feed">

    <title>{{ site.name }} | {{ page.title }}</title>

    <link rel="stylesheet" media="all" href="/css/mine.css" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% if page.code %}
    <link rel="stylesheet" href="/ext/highlight.js/styles/solarized_light.css">
    <script src="/ext/highlight.js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% endif %}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10074884-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>

<body lang="en">
    <div class="container typeset">
            <div class="header">
                {% if page.url != '/index.html' %}
                    <p>
                        <a href="/" rel="author">
                            <i class="icon-fixed-width icon-th"></i> {{ site.name }}
                        </a>
                    </p>
                    <!--
                    TODO: Add plugin that switches to h2 based on number of words.
                    For now, manually set longtitle flag in post metadata.
                    -->
                    {% if page.longtitle %}
                        <h2><u>{{ page.title }}</u></h2>
                    {% else %}
                        <h1>{{ page.title }}</h1>
                    {% endif %}
                    <aside>
                        Published {{ page.date | date_to_string }}
                    </aside>

                {% else %}
                <div class="avatar"></div>
                <h1>{{ site.name }}</h1>
                {% endif %}
            </div>

            <div class="content">
                {% if page.div_class %}
                <div class="{{ page.div_class }}">
                    {{ content }}
                </div>
                {% else %}
                    {{ content }}
                {% endif %}
            </div>

            {% if page.comments %}
                <hr />
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'sergeykarayevwebsite';
                    var disqus_title = "{{ page.title }}";

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            {% endif %}

            <hr />
            <div class="footer">
                <p>
                Designed by Sergey Karayev -
                <a href="sergeykarayev@gmail.com"><i class="icon-fixed-width icon-envelope"></i></a> &middot;
                <a href="http://www.linkedin.com/in/sergeykarayev"><i class="icon-fixed-width icon-linkedin"></i></a> &middot;
                <a href="https://twitter.com/sergeykarayev"><i class="icon-fixed-width icon-twitter"></i></a> &middot;
                <a href="http://iamthedivebomber.net"><i class="icon-fixed-width icon-plane"></i></a> -
                Site last updated on {{ site.time | date_to_string }}.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
